<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <rewrite>
      <rules>
        <rule name="FW Editor Viewer root redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/viewer" redirectType="Temporary" />
        </rule>
        <rule name="Proxy FW Editor Viewer to AcRuleWorkbench API runner" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://__BACKEND_HOST__:__BACKEND_PORT__/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_PROTO" value="{HTTPS}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>
